/* Reset */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7fb;
    text-align: center;
}

/* Header */
.header {
    background-color: #1b283a;
    color: white;
    padding: 70px 20px;
}

.header h1 {
    margin: 0;
    font-size: 42px;
    letter-spacing: 2px;
}

.header p {
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    opacity: 0.85;
}

/* About */
.about {
    background-color: white;
    width: 80%;
    margin: 50px auto;
    padding: 45px 20px;
    border-radius: 15px;
}

.about h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.about p {
    
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

/* Education */
.education {
    background-color: #e6f3ff;
    width: 80%;
    margin: 50px auto;
    padding: 45px 20px;
    border-radius: 15px;
}
    
.education h2 {
    font-size: 28px;
    margin-bottom: 35px;
}

.edu-box {
    background-color: white;
    width: 65%;
    margin: 15px auto;
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
}

/* Skills */
.skill {
    background-color: #f8e99f;
    width: 80%;
    margin: 50px auto;
    padding: 60px 20px;
    border-radius: 15px;
}

.skills h2 {
    font-size: 28px;
    margin-bottom: 35px;
}

.skill-box {
    background-color: white;
    width: 65%;
    margin: 15px auto;
    padding: 18px;
    border-radius: 12px;
    font-weight: bold;
}

/* Projects */
.project {
    background-color: #e2d4ed;
    width: 80%;
    margin: 50px auto;
    padding: 60px 20px;
    border-radius: 15px;
}

.projects h2 {
    font-size: 28px;
    margin-bottom: 35px;
}

.project-box {
    background-color: white;
    width: 65%;
    margin: 15px auto;
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
    font-style: italic;
}

/* Contact */
.contact {
    background-color: #d9ffe7;
    width: 80%;
    margin: 50px auto;
    padding: 70px 20px;
    border-radius: 15px;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.contact-box {
    background-color: white;
    width: 65%;
    margin: 15px auto;
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
}

/* Footer */
.footer {
    background-color: #18263a;
    color: white;
    padding: 22px;
    font-size: 14px;
}



